*{
    margin: 0;
    padding: 0;
    
}

body{
    min-height: 1000em;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: poppinsmdm;
    src: url(font/Poppins-Medium.otf);
}
@font-face {
    font-family: poppins;
    src: url(font/Poppins-Light.otf);
}
@font-face {
    font-family: poppinsth;
    src: url(font/Poppins-Thin.otf);
}

.search{
    border-radius: 50px;
    width: 20em;
}

.search::-webkit-input-placeholder{
    font-family: poppins;
}
.searchbtn{
    border-radius: 50px;
    width: 8em;
    font-family: poppins;
}

.bgslide{
    width: 100%;
    height: 45em;
}

.logo{
    margin: 0em 0em 0em 6em;

}

.Sign{
    border-radius: 20px;
    width: 6em;
}

.barang{
    width: 35em;
    position: absolute;
    left: 4em;
    bottom: 4em;
}

.namabarang{
    float: left;
    position: absolute;
    left: 10em;
    bottom: 12em;

}

.harga{
    float: left;
    position: absolute;
    left: 22.5em;
    bottom: 15em;
}

.garis{
    background-color: grey;
    width: 8em;
    height: 0.4em;
    float: left;
    position: absolute;
    left: 40.8em;
    bottom: 25.5em;
    border-radius: 50px;
}

.keteranganbrg{
    float: left;
    position: absolute;
    left: 22.5em;
    bottom: 13em;
    text-align: center;
    font-size: 15px ;
}

.kategori{
    background-color: whitesmoke;
    width: 5em;
    height: 5em;
}


/* hot product */
.background{
    border-radius: 10px;
    height: 36em;
    margin: 0em 0em 0em 8em;
    background-color: #d5ffeb;
    box-shadow: 1px 1px 41px -12px rgba(0,0,0,0.75);
}

.judulh{
    display: inline-block;
    background-color: gray;
    width: 15em;
    height: 0.5em;
    align-items: center;
    border-radius: 50px;
}


.card{
    width: 15em;
    height: 22em;
    margin: 5em 0em 0em 1.5em; 
    background-color: rgb(201, 201, 201) ;
    box-shadow: 1px 1px 41px -12px rgba(0,0,0,0.75);
}

.imgpr{
    width: 15em;
    align-items: center;
}

.textt{
    text-align: center;
    margin: 1em 0em 0em 0em;
}

.textp{
        margin: 0em 0em 9em 2.2em;
        font-size: 2em;
}

.buttonl{
    margin: auto;
    border-radius: 15px;
}





 h1{
    text-align: center;
}






/**
* Scrolling CSS
*/
nav.scroll {
    padding: 10px;
    background: rgb(255, 255, 255);
    position: fixed;
    color: white;
  }
  
  nav.scroll span {
    font-size: 18px;
    color: white;
  }
  
  nav.scroll a {
    color: rgb(0, 0, 0);
  }



